html {
	background-color: #334257;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mtr__group {
	position: relative;
	padding: 20px 0 0;
	width: 100%;
	max-width: 180px;
}

.mtr__in {
	font-family: inherit;
	width: 100%;
	border: none;
	border-bottom: 2px solid #d8d8d8;
	outline: 0;
	font-size: 17px;
	color: #d8d8d8;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.mtr__in::placeholder {
	color: transparent;
}

.mtr__in:placeholder-shown ~ .mtr__label__in {
	font-size: 17px;
	cursor: text;
	top: 20px;
}

.mtr__label__in {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	color: #d8d8d8;
	pointer-events: none;
}

.mtr__in:focus {
	padding-bottom: 6px;
	border-width: 3px;
	border-image: linear-gradient(to right, #d8d8d8, #d8d8d8);
	border-image-slice: 1;
}

.mtr__in:focus ~ .mtr__label__in {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 17px;
	color: #d8d8d8;
}

.km__out {
	font-family: inherit;
	width: 100%;
	border: none;
	border-bottom: 2px solid #d8d8d8;
	outline: 0;
	font-size: 17px;
	color: #d8d8d8;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.km__out::placeholder {
	color: #7c7c7c;
}

/* reset input */
.mtr__in:required,
.mtr__in:invalid {
	box-shadow: none;
}

/*  */
.btnGral {
	transition: all 0.15s ease-in-out;
	font-family: "Dosis", sans-serif;
}

.btnGral {
	width: 150px;
	height: 60px;
	border-radius: 50px;
	background-image: linear-gradient(135deg, #b9b4c7 0%, #476072 100%);
	box-shadow: 0 15px 35px -3px #171717;
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 24px;
	color: #d8d8d8;
	margin-top: 25px;
}

.btnGral:hover {
	transform: translateY(3px);
	box-shadow: none;
}

.btnGral:active {
	opacity: 0.5;
}

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {
	.btn-container {
		width: 90%; /* Ajusta el ancho en dispositivos más pequeños */
	}
}

/* Media Query para dispositivos aún más pequeños */
@media (max-width: 480px) {
	.btn-container {
		width: 100%; /* Ocupa todo el ancho en dispositivos muy pequeños */
	}
}
