@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	box-sizing: border-box;
	font-family: "Opens Sans", sans-serif;
}

html {
	background-color: #2d2c3f;
}

h1 {
	color: #ffffff;
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.foot {
	color: #ffffff;
	padding: 20px;
	margin: auto;
	margin-top: 40px;
	width: 80%;
	max-width: 400px;
	text-align: center;
	border: 3px solid #ffffff;
	box-shadow: 0 0 15px 0 #dbdbdb;
}

.foot .copy {
	font-size: 0.75em;
}

.message {
	font-size: 35px;
	transition: all 0.12s ease-in-out;
}

.message:hover {
	font-size: 35px;
	color: #00ff15;
}

.btn__container {
	padding: 30px;
	margin: auto;
	width: 80%;
	max-width: 400px;
	text-align: center;
	border: 3px solid #ffffff;
	box-shadow: 0 0 15px 0 #dbdbdb;
}

.btn__container button {
	margin: 15px 0; /* separacion de los botones */
}

.btnGral {
	border-radius: 30px;
	background-color: #2d2c3f;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	color: #ffffff;
	transition: all 0.12s ease-in-out;
	border: 1px solid #ffffff;
	box-shadow: 0 0 20px 0 #161616;
}

.btnGral:hover {
	transform: translateY(3px);
	color: #c7c7c7;
	background-color: rgba(36, 35, 53, 0.993);
	box-shadow: none;
}

.btnGral:active {
	opacity: 0.5;
}

@keyframes overlay {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.btnGral,
#btnDist,
#btnTime,
#btnTemp,
#btnMass {
	width: 100%; /* Los botones ocupan todo el ancho del contenedor */
	height: 75px;
}

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {
	.btnGral-container {
		width: 90%; /* Ajusta el ancho en dispositivos más pequeños */
	}
}

/* Media Query para dispositivos aún más pequeños */
@media (max-width: 480px) {
	.btnGral-container {
		width: 100%; /* Ocupa todo el ancho en dispositivos muy pequeños */
	}
}
