* {
	box-sizing: border-box;
	font-family: "Opens Sans", sans-serif;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #2d2c3f;
	overflow-x: hidden;
}

header {
	width: 100%;
	height: 75px;
	margin: 20px auto;
	background-color: #ffffff;
	display: inline-flex;
	padding: auto;
	align-items: center;
	justify-content: center;
}

.btn__container {
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	width: 75%;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.btnGral {
	background-color: #ffffff;
	border: none;
	font-size: 1.2em;
	margin-right: 50px;
}

button {
	width: auto;
	height: 40px;
	cursor: pointer;
}

button:hover {
	color: rgb(255, 102, 0);
	transition: 0.5s;
}

.logo__container {
	width: 10%;
	height: 100%;
	display: grid;
}

.logo__container .logo {
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* DISTANCE */
.dst__group {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 60px;
	width: 50%;
	height: 450px;
	padding: 20px;
	color: #d8d8d8;
}

.inside__container__dist {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	max-width: 510px;
	padding-left: 50px;
}

.dist_input {
	height: 45px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ffffff;
	outline: none;
	margin-bottom: 5%;
	background: none;
	color: #ffffff;
	font-size: 24px;
}

/* TEMPERATURE */
.temp__group {
	margin: 0 auto;
	margin-top: 60px;
	width: 20%;
	padding: 25px;
	color: #d8d8d8;
}

.temp_input {
	height: 45px;
	border: 0;
	border-bottom: 1px solid #ffffff;
	outline: none;
	margin-bottom: 50px;
	background: none;
	color: #ffffff;
	font-size: 24px;
}

/* MASS */
.mass__group {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 50%;
	padding: 20px;
	color: #d8d8d8;
	margin-top: 65px;
}

.inside__container__mass {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
}

.mass__input {
	height: 45px;
	width: 80%;
	border: 0;
	border-bottom: 1px solid #fffcfc;
	outline: none;
	margin-bottom: 5%;
	background: none;
	color: #ffffff;
	font-size: 24px;
}

/* TIME */
.time__group {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 60px;
	width: 50%;
	padding: 20px;
	color: #d8d8d8;
}

.inside__container__time {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
}

.time__input {
	height: 45px;
	width: 60%;
	border: 0;
	border-bottom: 1px solid #fffcfc;
	outline: none;
	margin-bottom: 5%;
	background: none;
	color: #ffffff;
	font-size: 24px;
}

/* RESET BUTTON */
.btnContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

#btnReset {
	width: 150px;
	height: 60px;
	border-radius: 30px;
	background-color: #383750;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	color: #ffffff;
	transition: all 0.12s ease-in-out;
	border: 2px solid #1e1e2b;
	box-shadow: 0 0 20px 0 #161616;
	margin: 25px;
}

#btnReset:hover {
	transform: translateY(3px);
	color: #c7c7c7;
	background-color: #2d2c3f;
	border: 1px solid #1e1e2b;
	box-shadow: none;
}

#btnReset:active {
	opacity: 0.5;
}

/* RESPONSIVE
@media screen and (max-width: 1200px) {
	.dst__group {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 65%;
		padding: 20px;
		color: #d8d8d8;
		margin-top: 35px;
	}

	.btnContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#btnReset {
		width: 100px;
		height: 60px;
		border-radius: 30px;
		background-color: #383750;
		outline: none;
		cursor: pointer;
		font-size: 24px;
		color: #ffffff;
		transition: all 0.12s ease-in-out;
		border: 2px solid #1e1e2b;
		box-shadow: 0 0 20px 0 #161616;
		margin: 25px;
	}
} */
