html {
	background-color: #334257;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
	color: #d8d8d8;
	text-align: center;
	margin-top: 50px;
}

.btn__container {
	margin: auto;
	width: 80%; /* Utilizamos un porcentaje para que el ancho sea responsive */
	max-width: 400px; /* Limitamos el ancho máximo del contenedor */
	text-align: center; /* Centramos los botones horizontalmente */
}

.btnGral {
	transition: all 0.15s ease-in-out;
}

.btnGral {
	width: 150px;
	height: 60px;
	border-radius: 30px;
	background-image: linear-gradient(135deg, #b9b4c7 0%, #476072 100%);
	box-shadow: 0 15px 35px -3px #171717;
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 24px;
	color: #d8d8d8;
}

.btnGral:hover {
	transform: translateY(3px);
	box-shadow: none;
}

.btnGral:active {
	opacity: 0.5;
}

@keyframes overlay {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.btnGral,
#btnDist,
#btnTime,
#btnTemp,
#btnMass {
	width: 100%; /* Los botones ocupan todo el ancho del contenedor */
	height: 75px;
	margin-top: 40px;
}

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {
	.btnGral-container {
		width: 90%; /* Ajusta el ancho en dispositivos más pequeños */
	}
}

/* Media Query para dispositivos aún más pequeños */
@media (max-width: 480px) {
	.btnGral-container {
		width: 100%; /* Ocupa todo el ancho en dispositivos muy pequeños */
	}
}
