* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #08203e;
	overflow-x: hidden;
}

header {
	color: #ffffff;
	width: 100%;
	height: 80px;
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: -moz-linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

#tittleReset {
	width: 200px;
	text-align: center;
	color: #ffffff;
	background: rgba(255, 0, 0, 0);
	border: none;
	font-size: 1.2rem;
	margin-right: 50px;
	user-select: none;
	cursor: pointer;
}

.btn__container {
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	width: 75%;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.btnGral {
	color: #ffffff;
	background: rgba(255, 0, 0, 0);
	border: none;
	font-size: 1.2em;
	margin-right: 50px;
	background-color: 0%;
}

.contact__container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	width: 250px;
}

.contact__container i {
	margin-right: 20px;
}

.contact__container i:hover {
	color: #a8c3d3;
	transition: 0.3s;
}

label {
	user-select: none;
}

#dist,
#temp,
#mass,
#time {
	width: auto;
	height: 40px;
	cursor: pointer;
}

button:hover {
	color: #a8c3d3;
	transition: 0.5s;
}

.logo__container {
	width: 10%;
	height: 100%;
	display: grid;
}

.logo__container .logo {
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tittle__container {
	display: flex;
	font-size: 1.5rem;
}

/* DISTANCE */
.dst__group {
	flex-direction: row;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	color: #ffffff;
}

.inside__container__dist {
	display: flex;
	flex: 1;
	height: 50%;
	margin-top: 65px;
	flex-direction: column;
	max-width: 510px;
	padding-left: 50px;
}

.dist_input {
	height: 45px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #557c93;
	outline: none;
	margin-bottom: 8%;
	background: none;
	color: #ffffff;
	font-size: 1.5rem;
}

/* TEMPERATURE */
.temp__group {
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 105px;
	width: 25%;
	color: #ffffff;
}

.temp_input {
	height: 45px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #557c93;
	outline: none;
	margin-bottom: 50px;
	background: none;
	color: #ffffff;
	font-size: 1.5rem;
}

/* MASS */
.mass__group {
	flex-direction: row;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	color: #ffffff;
}

.inside__container__mass {
	display: flex;
	flex: 1;
	height: 50%;
	margin-top: 65px;
	flex-direction: column;
	max-width: 510px;
	padding-left: 50px;
}

.mass__input {
	height: 45px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #557c93;
	outline: none;
	margin-bottom: 8%;
	background: none;
	color: #ffffff;
	font-size: 1.5rem;
}

/* TIME */
.time__group {
	flex-direction: row;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	color: #ffffff;
}

.inside__container_time {
	display: flex;
	flex: 1;
	margin-top: 65px;
	flex-direction: column;
	max-width: 510px;
	padding-left: 50px;
}

.time__input {
	height: 45px;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #557c93;
	outline: none;
	margin-bottom: 8%;
	background: none;
	color: #ffffff;
	font-size: 1.5rem;
}

/* RESET BUTTON */
.reset__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#btnReset {
	width: 150px;
	height: 40px;
	border-radius: 30px;
	background: hsla(213, 77%, 14%, 1);
	background: linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);
	background: -moz-linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);
	background: -webkit-linear-gradient(
		90deg,
		hsla(213, 77%, 14%, 1) 0%,
		hsla(202, 27%, 45%, 1) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
	outline: none;
	cursor: pointer;
	font-size: 24px;
	color: #ffffff;
	transition: all 0.12s ease-in-out;
	border: 2px solid #557c93;
	box-shadow: 0 0 10px 0 #708997;
	margin: 25px;
}

#btnReset:hover {
	transform: translateY(3px);
	color: #ffffff;
	background-color: #2d2c3f;
	border: 1px solid #557c93;
	box-shadow: none;
}

#btnReset:active {
	opacity: 0.5;
}

/* RESPONSIVE */

/* Portatil 15' */
@media screen and (max-width: 1368px) {
	/* DISTANCE */
	.dst__group {
		display: block;
		margin-top: 30px;
		width: 50%;
		height: 50%;
		color: #ffffff;
	}

	.inside__container__dist {
		display: flex;
		flex: 1;
		height: 50%;
		margin-top: 0;
		flex-direction: column;
		max-width: 510px;
		padding-left: 50px;
	}

	.dist_input {
		height: 45px;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #557c93;
		outline: none;
		background: none;
		color: #ffffff;
		font-size: 1.5rem;
	}

	/* TEMPERATURE */
	.temp__group {
		margin: 0 auto;
		width: 30%;
		margin-top: 30px;
		height: 50%;
		color: #ffffff;
	}

	.temp_input {
		height: 45px;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #557c93;
		outline: none;
		background: none;
		color: #ffffff;
		font-size: 1.5rem;
	}

	/* MASS */
	.mass__group {
		display: block;
		margin-top: 30px;
		width: 50%;
		height: 50%;
		color: #ffffff;
	}

	.inside__container__mass {
		display: flex;
		flex: 1;
		height: 50%;
		margin-top: 0;
		flex-direction: column;
		max-width: 510px;
		padding-left: 50px;
	}

	.mass__input {
		height: 45px;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #557c93;
		outline: none;
		background: none;
		color: #ffffff;
		font-size: 1.5rem;
	}

	/* TIME */
	.time__group {
		display: block;
		margin-top: 30px;
		width: 50%;
		height: 50%;
		color: #ffffff;
	}

	.inside__container_time {
		display: flex;
		flex: 1;
		height: 50%;
		margin-top: 0;
		flex-direction: column;
		max-width: 510px;
		padding-left: 50px;
	}

	.time__input {
		height: 45px;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #557c93;
		outline: none;
		background: none;
		color: #ffffff;
		font-size: 1.5rem;
	}

	/* RESET BUTTON */
	.reset__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#btnReset {
		width: 150px;
		height: 40px;
		border-radius: 30px;
		background: hsla(213, 77%, 14%, 1);
		background: linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		background: -moz-linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		background: -webkit-linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
		outline: none;
		cursor: pointer;
		font-size: 24px;
		color: #ffffff;
		transition: all 0.12s ease-in-out;
		border: 2px solid #557c93;
		box-shadow: 0 0 10px 0 #708997;
		margin: 25px;
	}

	#btnReset:hover {
		transform: translateY(3px);
		color: #ffffff;
		background-color: #2d2c3f;
		border: 1px solid #557c93;
		box-shadow: none;
	}

	#btnReset:active {
		opacity: 0.5;
	}
}

@media screen and (max-width: 1210px) {
	.dst__group {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 65%;
		padding: 20px;
		color: #ffffff;
		margin-top: 35px;
	}

	.temp__group {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 48%;
		padding: 20px;
		color: #ffffff;
		margin-top: 35px;
	}

	.mass__group {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 65%;
		padding: 20px;
		color: #ffffff;
		margin-top: 35px;
	}

	.time__group {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 65%;
		padding: 20px;
		color: #ffffff;
		margin-top: 35px;
	}

	.reset__container {
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 40%;
		right: 40%;
	}

	.reset__container #btnReset {
		width: 150px;
		height: 60px;
		border-radius: 30px;
		background: hsla(213, 77%, 14%, 1);
		background: linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		background: -moz-linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		background: -webkit-linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
		outline: none;
		cursor: pointer;
		font-size: 24px;
		color: #ffffff;
		transition: all 0.12s ease-in-out;
		border: 2px solid #557c93;
		box-shadow: 0 0 10px 0 #708997;
		margin: 25px;
	}

	header {
		color: #ffffff;
		width: 15%;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 40px;
		position: fixed;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: -moz-linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		background: -webkit-linear-gradient(
			90deg,
			hsla(213, 77%, 14%, 1) 0%,
			hsla(202, 27%, 45%, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08203E", endColorstr="#557C93", GradientType=1);
	}

	#tittleReset {
		display: none;
	}

	.logo__container {
		width: 100%;
		height: 20%;
		display: grid;
	}

	.contact__container {
		display: grid;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 40%;
	}

	.contact__container a {
		display: grid;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.contact__container i {
		margin: 0;
	}

	.btn__container {
		display: grid;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		user-select: none;
	}

	.btnGral {
		font-size: 1rem;
		margin-right: 0;
	}
}
