html {
	background-color: #334257;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
	color: #d8d8d8;
	text-align: center;
	margin-top: 50px;
}

.temp__group {
	display: grid;
	margin: auto;
	width: 80%;
	max-width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.temps {
	width: 80%;
	font-size: 24px;
	color: #202020;
	outline: #334257;
}

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {
	.btn-container {
		width: 90%; /* Ajusta el ancho en dispositivos más pequeños */
	}
}

/* Media Query para dispositivos aún más pequeños */
@media (max-width: 480px) {
	.btn-container {
		width: 100%; /* Ocupa todo el ancho en dispositivos muy pequeños */
	}
}
