@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Opens Sans", sans-serif;
}

html {
	background-color: #05003a;
}

.btnGral {
	transition: all 0.15s ease-in-out;
	font-family: "Dosis", sans-serif;
}

.btnGral {
	width: 150px;
	height: 60px;
	border-radius: 50px;
	background-image: linear-gradient(135deg, #439a86 0%, #6c0081 100%);
	box-shadow: 0 15px 35px -3px #000000;
	outline: none;
	cursor: pointer;
	border: none;
	font-size: 24px;
	color: #d8d8d8;
}

.btnGral:hover {
	transform: translateY(3px);
	box-shadow: none;
}

.btnGral:active {
	opacity: 0.5;
}

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {
	.btn-container {
		width: 90%; /* Ajusta el ancho en dispositivos más pequeños */
	}
}

/* Media Query para dispositivos aún más pequeños */
@media (max-width: 480px) {
	.btn-container {
		width: 100%; /* Ocupa todo el ancho en dispositivos muy pequeños */
	}
}
